body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:836px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13402 {
  position:absolute;
  left:0px;
  top:-5px;
  width:1440px;
  height:836px;
  opacity:0.100000001490116;
  color:#FFFFFF;
}
#u13403 {
  position:absolute;
  left:2px;
  top:410px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:43px;
}
#u13404 {
  position:absolute;
  left:0px;
  top:854px;
  width:1440px;
  height:43px;
}
#u13405 {
  position:absolute;
  left:2px;
  top:14px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:812px;
}
#u13406 {
  position:absolute;
  left:0px;
  top:43px;
  width:1440px;
  height:811px;
}
#u13407 {
  position:absolute;
  left:2px;
  top:398px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13408 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:43px;
}
#u13409 {
  position:absolute;
  left:2px;
  top:14px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u13410 {
  position:absolute;
  left:419px;
  top:107px;
  width:602px;
  height:51px;
  font-size:24px;
  color:#000000;
}
#u13411 {
  position:absolute;
  left:2px;
  top:9px;
  width:598px;
  word-wrap:break-word;
}
#u13412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u13412 {
  position:absolute;
  left:1353px;
  top:871px;
  width:50px;
  height:20px;
}
#u13413 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13414 {
  position:absolute;
  left:1513px;
  top:487px;
  width:300px;
  height:102px;
}
#u13415 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:78px;
}
#u13416 {
  position:absolute;
  left:679px;
  top:410px;
  width:83px;
  height:78px;
}
#u13417 {
  position:absolute;
  left:2px;
  top:31px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
