body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1145px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13154 {
  position:absolute;
  left:140px;
  top:125px;
  width:1145px;
  height:84px;
}
#u13155 {
  position:absolute;
  left:2px;
  top:34px;
  width:1141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:220px;
}
#u13158 {
  position:absolute;
  left:537px;
  top:922px;
  width:372px;
  height:220px;
}
#u13159 {
  position:absolute;
  left:2px;
  top:102px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13160 {
  position:absolute;
  left:537px;
  top:1142px;
  width:372px;
  height:106px;
  opacity:0.200000002980232;
}
#u13161 {
  position:absolute;
  left:2px;
  top:45px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13162 {
  position:absolute;
  left:550px;
  top:1155px;
  width:191px;
  height:21px;
  font-size:15px;
}
#u13163 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u13164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13164 {
  position:absolute;
  left:552px;
  top:1183px;
  width:195px;
  height:18px;
}
#u13165 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u13166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u13166 {
  position:absolute;
  left:839px;
  top:1207px;
  width:65px;
  height:16px;
  font-size:11px;
}
#u13167 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u13168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13168 {
  position:absolute;
  left:553px;
  top:1205px;
  width:77px;
  height:20px;
  font-size:14px;
}
#u13169 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u13170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:326px;
}
#u13170 {
  position:absolute;
  left:142px;
  top:922px;
  width:380px;
  height:326px;
}
#u13171 {
  position:absolute;
  left:2px;
  top:155px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:220px;
}
#u13173 {
  position:absolute;
  left:926px;
  top:923px;
  width:361px;
  height:220px;
}
#u13174 {
  position:absolute;
  left:2px;
  top:102px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13175 {
  position:absolute;
  left:926px;
  top:1143px;
  width:361px;
  height:106px;
  opacity:0.200000002980232;
}
#u13176 {
  position:absolute;
  left:2px;
  top:45px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13177 {
  position:absolute;
  left:939px;
  top:1156px;
  width:176px;
  height:21px;
  font-size:15px;
}
#u13178 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u13179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13179 {
  position:absolute;
  left:941px;
  top:1184px;
  width:174px;
  height:18px;
}
#u13180 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u13181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u13181 {
  position:absolute;
  left:1218px;
  top:1207px;
  width:54px;
  height:16px;
  font-size:11px;
}
#u13182 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u13183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13183 {
  position:absolute;
  left:942px;
  top:1206px;
  width:87px;
  height:20px;
  font-size:14px;
}
#u13184 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u13185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:55px;
}
#u13186 {
  position:absolute;
  left:301px;
  top:1281px;
  width:826px;
  height:55px;
}
#u13187 {
  position:absolute;
  left:2px;
  top:20px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u13190 {
  position:absolute;
  left:121px;
  top:29px;
  width:170px;
  height:80px;
}
#u13191 {
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13192 {
  position:absolute;
  left:138px;
  top:52px;
  width:132px;
  height:28px;
}
#u13193 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u13194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u13194 {
  position:absolute;
  left:313px;
  top:66px;
  width:60px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u13195 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13196 {
  position:absolute;
  left:395px;
  top:66px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13197 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u13198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13198 {
  position:absolute;
  left:630px;
  top:66px;
  width:76px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13199 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u13200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u13200 {
  position:absolute;
  left:510px;
  top:66px;
  width:82px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u13201 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13202 {
  position:absolute;
  left:1267px;
  top:37px;
  width:60px;
  height:22px;
  font-size:16px;
}
#u13203 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13204 {
  position:absolute;
  left:1209px;
  top:37px;
  width:38px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13205 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u13206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13206 {
  position:absolute;
  left:744px;
  top:66px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13207 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u13208 {
  position:absolute;
  left:1252px;
  top:37px;
  width:1px;
  height:22px;
  opacity:0.400000005960464;
}
#u13209 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13210 {
  position:absolute;
  left:1197px;
  top:25px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13211 {
  position:absolute;
  left:842px;
  top:66px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13212 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13213 {
  position:absolute;
  left:153px;
  top:144px;
  width:71px;
  height:20px;
}
#u13214 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13215 {
  position:absolute;
  left:229px;
  top:144px;
  width:29px;
  height:16px;
}
#u13216 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13217 {
  position:absolute;
  left:292px;
  top:143px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13218 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13219 {
  position:absolute;
  left:371px;
  top:143px;
  width:29px;
  height:20px;
}
#u13220 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13221 {
  position:absolute;
  left:468px;
  top:143px;
  width:29px;
  height:20px;
}
#u13222 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13223 {
  position:absolute;
  left:573px;
  top:143px;
  width:29px;
  height:20px;
}
#u13224 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13225 {
  position:absolute;
  left:694px;
  top:143px;
  width:29px;
  height:20px;
}
#u13226 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13227 {
  position:absolute;
  left:812px;
  top:143px;
  width:29px;
  height:20px;
}
#u13228 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13229 {
  position:absolute;
  left:925px;
  top:143px;
  width:29px;
  height:20px;
}
#u13230 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13231 {
  position:absolute;
  left:1024px;
  top:143px;
  width:29px;
  height:20px;
}
#u13232 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:220px;
}
#u13234 {
  position:absolute;
  left:535px;
  top:231px;
  width:372px;
  height:220px;
}
#u13235 {
  position:absolute;
  left:2px;
  top:102px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13236 {
  position:absolute;
  left:535px;
  top:451px;
  width:372px;
  height:106px;
  opacity:0.200000002980232;
}
#u13237 {
  position:absolute;
  left:2px;
  top:45px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13238 {
  position:absolute;
  left:548px;
  top:464px;
  width:191px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13239 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u13240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13240 {
  position:absolute;
  left:550px;
  top:492px;
  width:195px;
  height:18px;
}
#u13241 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u13242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u13242 {
  position:absolute;
  left:837px;
  top:516px;
  width:65px;
  height:16px;
  font-size:11px;
}
#u13243 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u13244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13244 {
  position:absolute;
  left:551px;
  top:514px;
  width:203px;
  height:21px;
  font-size:15px;
}
#u13245 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u13246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13246 {
  position:absolute;
  left:937px;
  top:516px;
  width:203px;
  height:21px;
  font-size:15px;
}
#u13247 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u13248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:220px;
}
#u13248 {
  position:absolute;
  left:924px;
  top:232px;
  width:361px;
  height:220px;
}
#u13249 {
  position:absolute;
  left:2px;
  top:102px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13250 {
  position:absolute;
  left:924px;
  top:452px;
  width:361px;
  height:106px;
  opacity:0.200000002980232;
}
#u13251 {
  position:absolute;
  left:2px;
  top:45px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13252 {
  position:absolute;
  left:937px;
  top:465px;
  width:176px;
  height:21px;
  font-size:15px;
}
#u13253 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u13254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13254 {
  position:absolute;
  left:939px;
  top:493px;
  width:174px;
  height:18px;
}
#u13255 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u13256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u13256 {
  position:absolute;
  left:1216px;
  top:516px;
  width:54px;
  height:16px;
  font-size:11px;
}
#u13257 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u13258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:220px;
}
#u13260 {
  position:absolute;
  left:535px;
  top:578px;
  width:372px;
  height:220px;
}
#u13261 {
  position:absolute;
  left:2px;
  top:102px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13262 {
  position:absolute;
  left:535px;
  top:798px;
  width:372px;
  height:106px;
  opacity:0.200000002980232;
}
#u13263 {
  position:absolute;
  left:2px;
  top:45px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13264 {
  position:absolute;
  left:548px;
  top:811px;
  width:191px;
  height:21px;
  font-size:15px;
}
#u13265 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u13266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13266 {
  position:absolute;
  left:550px;
  top:839px;
  width:195px;
  height:18px;
}
#u13267 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u13268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u13268 {
  position:absolute;
  left:837px;
  top:863px;
  width:65px;
  height:16px;
  font-size:11px;
}
#u13269 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u13270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
}
#u13270 {
  position:absolute;
  left:550px;
  top:863px;
  width:180px;
  height:25px;
}
#u13271 {
  position:absolute;
  left:2px;
  top:4px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:326px;
}
#u13272 {
  position:absolute;
  left:140px;
  top:580px;
  width:380px;
  height:326px;
}
#u13273 {
  position:absolute;
  left:2px;
  top:155px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:220px;
}
#u13275 {
  position:absolute;
  left:924px;
  top:579px;
  width:361px;
  height:220px;
}
#u13276 {
  position:absolute;
  left:2px;
  top:102px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13277 {
  position:absolute;
  left:924px;
  top:799px;
  width:361px;
  height:106px;
  opacity:0.200000002980232;
}
#u13278 {
  position:absolute;
  left:2px;
  top:45px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u13279 {
  position:absolute;
  left:937px;
  top:812px;
  width:176px;
  height:21px;
  font-size:15px;
}
#u13280 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u13281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13281 {
  position:absolute;
  left:939px;
  top:840px;
  width:174px;
  height:18px;
}
#u13282 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u13283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u13283 {
  position:absolute;
  left:1216px;
  top:863px;
  width:54px;
  height:16px;
  font-size:11px;
}
#u13284 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u13285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u13285 {
  position:absolute;
  left:940px;
  top:862px;
  width:87px;
  height:20px;
  font-size:14px;
}
#u13286 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u13287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13287 {
  position:absolute;
  left:848px;
  top:747px;
  width:28px;
  height:30px;
}
#u13288 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13289 {
  position:absolute;
  left:1217px;
  top:747px;
  width:28px;
  height:30px;
}
#u13290 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13291 {
  position:absolute;
  left:1217px;
  top:1084px;
  width:28px;
  height:30px;
}
#u13292 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13293 {
  position:absolute;
  left:850px;
  top:1094px;
  width:28px;
  height:30px;
}
#u13294 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13295 {
  position:absolute;
  left:852px;
  top:400px;
  width:28px;
  height:30px;
}
#u13296 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13297 {
  position:absolute;
  left:1220px;
  top:399px;
  width:28px;
  height:30px;
}
#u13298 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:108px;
}
#u13299 {
  position:absolute;
  left:140px;
  top:449px;
  width:380px;
  height:108px;
}
#u13300 {
  position:absolute;
  left:2px;
  top:46px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13301 {
  position:absolute;
  left:139px;
  top:232px;
  width:383px;
  height:219px;
  overflow:hidden;
}
#u13301_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:219px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13301_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:216px;
}
#u13302 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:216px;
}
#u13303 {
  position:absolute;
  left:2px;
  top:100px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13301_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:219px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13301_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:214px;
}
#u13304 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:214px;
}
#u13305 {
  position:absolute;
  left:2px;
  top:99px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13306 {
  position:absolute;
  left:140px;
  top:231px;
  width:382px;
  height:220px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:234px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13308 {
  position:absolute;
  left:0px;
  top:1358px;
  width:1440px;
  height:234px;
}
#u13309 {
  position:absolute;
  left:2px;
  top:109px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13310 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13311 {
  position:absolute;
  left:133px;
  top:1381px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u13312 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:2px;
}
#u13313 {
  position:absolute;
  left:133px;
  top:1499px;
  width:967px;
  height:1px;
  opacity:0.180000007152557;
}
#u13314 {
  position:absolute;
  left:2px;
  top:-8px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13316 {
  position:absolute;
  left:161px;
  top:1424px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u13317 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13318 {
  position:absolute;
  left:283px;
  top:1424px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u13319 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13320 {
  position:absolute;
  left:383px;
  top:1424px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u13321 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13322 {
  position:absolute;
  left:487px;
  top:1424px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u13323 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13324 {
  position:absolute;
  left:609px;
  top:1424px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u13325 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13326 {
  position:absolute;
  left:708px;
  top:1424px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13327 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13328 {
  position:absolute;
  left:812px;
  top:1424px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u13329 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13330 {
  position:absolute;
  left:934px;
  top:1424px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u13331 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13332 {
  position:absolute;
  left:1036px;
  top:1424px;
  width:77px;
  height:18px;
  color:#CCCCCC;
}
#u13333 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u13334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13335 {
  position:absolute;
  left:162px;
  top:1467px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u13336 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13337 {
  position:absolute;
  left:286px;
  top:1467px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u13338 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13339 {
  position:absolute;
  left:390px;
  top:1467px;
  width:130px;
  height:18px;
  color:#CCCCCC;
}
#u13340 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u13341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13341 {
  position:absolute;
  left:549px;
  top:1467px;
  width:120px;
  height:18px;
  color:#CCCCCC;
}
#u13342 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13343 {
  position:absolute;
  left:701px;
  top:1467px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13344 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13345 {
  position:absolute;
  left:819px;
  top:1467px;
  width:139px;
  height:18px;
  color:#CCCCCC;
}
#u13346 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u13347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13347 {
  position:absolute;
  left:982px;
  top:1467px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u13348 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u13351 {
  position:absolute;
  left:314px;
  top:1521px;
  width:58px;
  height:18px;
  color:#CCCCCC;
}
#u13352 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13353 {
  position:absolute;
  left:396px;
  top:1521px;
  width:59px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13354 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u13355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13355 {
  position:absolute;
  left:480px;
  top:1521px;
  width:58px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13356 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u13357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u13357 {
  position:absolute;
  left:382px;
  top:1521px;
  width:1px;
  height:18px;
}
#u13358 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u13359 {
  position:absolute;
  left:463px;
  top:1521px;
  width:1px;
  height:18px;
}
#u13360 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13361 {
  position:absolute;
  left:571px;
  top:1521px;
  width:175px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13362 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u13363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u13363 {
  position:absolute;
  left:548px;
  top:1520px;
  width:1px;
  height:18px;
}
#u13364 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13365 {
  position:absolute;
  left:754px;
  top:1521px;
  width:175px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u13366 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u13367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13367 {
  position:absolute;
  left:1139px;
  top:1545px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13368 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u13369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u13369 {
  position:absolute;
  left:375px;
  top:1558px;
  width:525px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u13370 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u13371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:128px;
}
#u13371 {
  position:absolute;
  left:1131px;
  top:1402px;
  width:130px;
  height:128px;
}
#u13372 {
  position:absolute;
  left:2px;
  top:56px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:2px;
}
#u13373 {
  position:absolute;
  left:746px;
  top:1578px;
  width:72px;
  height:1px;
}
#u13374 {
  position:absolute;
  left:2px;
  top:-8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
