body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:836px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:0px;
  top:-5px;
  width:1440px;
  height:836px;
  opacity:0.100000001490116;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:2px;
  top:410px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:43px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:854px;
  width:1440px;
  height:43px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:14px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:811px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  position:absolute;
  left:0px;
  top:43px;
  width:1440px;
  height:811px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:398px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:43px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:14px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:51px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#000000;
}
#u1929 {
  position:absolute;
  left:419px;
  top:107px;
  width:602px;
  height:51px;
  font-size:24px;
  color:#000000;
}
#u1930 {
  position:absolute;
  left:2px;
  top:9px;
  width:598px;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1931 {
  position:absolute;
  left:1353px;
  top:871px;
  width:50px;
  height:20px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:91px;
}
#u1934 {
  position:absolute;
  left:673px;
  top:403px;
  width:94px;
  height:91px;
  opacity:0.4;
}
#u1935 {
  position:absolute;
  left:2px;
  top:38px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
}
#u1936 {
  position:absolute;
  left:691px;
  top:417px;
  width:65px;
  height:63px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938 {
  position:absolute;
  left:1366px;
  top:854px;
  width:83px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1939 {
  position:absolute;
  left:-30px;
  top:43px;
  width:1470px;
  height:811px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
