body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:160px;
  opacity:0.100000001490116;
  color:#000000;
}
#u5703 {
  position:absolute;
  left:2px;
  top:72px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u5706 {
  position:absolute;
  left:121px;
  top:29px;
  width:170px;
  height:80px;
}
#u5707 {
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5708 {
  position:absolute;
  left:158px;
  top:55px;
  width:97px;
  height:28px;
}
#u5709 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u5710 {
  position:absolute;
  left:313px;
  top:66px;
  width:60px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u5711 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5712 {
  position:absolute;
  left:395px;
  top:66px;
  width:91px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5713 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5714 {
  position:absolute;
  left:744px;
  top:66px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u5716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u5716 {
  position:absolute;
  left:510px;
  top:66px;
  width:82px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u5717 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5718 {
  position:absolute;
  left:1267px;
  top:37px;
  width:60px;
  height:19px;
  font-size:16px;
}
#u5719 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5720 {
  position:absolute;
  left:1209px;
  top:37px;
  width:38px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5721 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u5722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u5722 {
  position:absolute;
  left:1252px;
  top:37px;
  width:1px;
  height:22px;
  opacity:0.400000005960464;
}
#u5723 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5724 {
  position:absolute;
  left:1197px;
  top:25px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5725 {
  position:absolute;
  left:122px;
  top:19px;
  width:169px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5726 {
  position:absolute;
  left:395px;
  top:60px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5727 {
  position:absolute;
  left:313px;
  top:59px;
  width:60px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5728 {
  position:absolute;
  left:1263px;
  top:28px;
  width:38px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5729 {
  position:absolute;
  left:500px;
  top:57px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5730 {
  position:absolute;
  left:150px;
  top:236px;
  width:5px;
  height:16px;
}
#u5731 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  visibility:hidden;
  white-space:nowrap;
}
#u5732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:234px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5732 {
  position:absolute;
  left:0px;
  top:1059px;
  width:1440px;
  height:234px;
}
#u5733 {
  position:absolute;
  left:2px;
  top:109px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5735 {
  position:absolute;
  left:133px;
  top:1071px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:2px;
}
#u5737 {
  position:absolute;
  left:133px;
  top:1189px;
  width:967px;
  height:1px;
  opacity:0.180000007152557;
}
#u5738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5740 {
  position:absolute;
  left:161px;
  top:1114px;
  width:110px;
  height:16px;
  color:#CCCCCC;
}
#u5741 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5742 {
  position:absolute;
  left:283px;
  top:1114px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u5743 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5744 {
  position:absolute;
  left:383px;
  top:1114px;
  width:92px;
  height:16px;
  color:#CCCCCC;
}
#u5745 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5746 {
  position:absolute;
  left:487px;
  top:1114px;
  width:110px;
  height:16px;
  color:#CCCCCC;
}
#u5747 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5748 {
  position:absolute;
  left:609px;
  top:1114px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u5749 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5750 {
  position:absolute;
  left:708px;
  top:1114px;
  width:92px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5751 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5752 {
  position:absolute;
  left:812px;
  top:1114px;
  width:110px;
  height:16px;
  color:#CCCCCC;
}
#u5753 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5754 {
  position:absolute;
  left:934px;
  top:1114px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u5755 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5756 {
  position:absolute;
  left:1036px;
  top:1114px;
  width:77px;
  height:16px;
  color:#CCCCCC;
}
#u5757 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5759 {
  position:absolute;
  left:162px;
  top:1157px;
  width:110px;
  height:16px;
  color:#CCCCCC;
}
#u5760 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5761 {
  position:absolute;
  left:286px;
  top:1157px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u5762 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5763 {
  position:absolute;
  left:390px;
  top:1157px;
  width:130px;
  height:16px;
  color:#CCCCCC;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5765 {
  position:absolute;
  left:549px;
  top:1157px;
  width:120px;
  height:18px;
  color:#CCCCCC;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5767 {
  position:absolute;
  left:701px;
  top:1157px;
  width:92px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5768 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5769 {
  position:absolute;
  left:819px;
  top:1157px;
  width:139px;
  height:16px;
  color:#CCCCCC;
}
#u5770 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u5771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5771 {
  position:absolute;
  left:982px;
  top:1157px;
  width:92px;
  height:16px;
  color:#CCCCCC;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u5773 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5775 {
  position:absolute;
  left:314px;
  top:1211px;
  width:58px;
  height:16px;
  color:#CCCCCC;
}
#u5776 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u5777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5777 {
  position:absolute;
  left:396px;
  top:1211px;
  width:59px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5778 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u5779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5779 {
  position:absolute;
  left:480px;
  top:1211px;
  width:58px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5780 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u5781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u5781 {
  position:absolute;
  left:382px;
  top:1211px;
  width:1px;
  height:18px;
}
#u5782 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u5783 {
  position:absolute;
  left:463px;
  top:1211px;
  width:1px;
  height:18px;
}
#u5784 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5785 {
  position:absolute;
  left:571px;
  top:1211px;
  width:175px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5786 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u5787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u5787 {
  position:absolute;
  left:548px;
  top:1210px;
  width:1px;
  height:18px;
}
#u5788 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5789 {
  position:absolute;
  left:754px;
  top:1211px;
  width:175px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5790 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u5791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5791 {
  position:absolute;
  left:1139px;
  top:1235px;
  width:115px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5792 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u5793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5793 {
  position:absolute;
  left:375px;
  top:1248px;
  width:525px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u5795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:128px;
}
#u5795 {
  position:absolute;
  left:1131px;
  top:1092px;
  width:130px;
  height:128px;
}
#u5796 {
  position:absolute;
  left:2px;
  top:56px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5797 {
  position:absolute;
  left:743px;
  top:1238px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5798 {
  position:absolute;
  left:301px;
  top:1200px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5799 {
  position:absolute;
  left:382px;
  top:1200px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5800 {
  position:absolute;
  left:468px;
  top:1201px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5801 {
  position:absolute;
  left:1093px;
  top:285px;
  width:9px;
  height:16px;
}
#u5802 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u5803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5803 {
  position:absolute;
  left:141px;
  top:153px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u5804 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:2px;
}
#u5805 {
  position:absolute;
  left:141px;
  top:424px;
  width:788px;
  height:1px;
}
#u5806 {
  position:absolute;
  left:2px;
  top:-8px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5807 {
  position:absolute;
  left:141px;
  top:444px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5808 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:110px;
}
#u5809 {
  position:absolute;
  left:143px;
  top:189px;
  width:100px;
  height:110px;
}
#u5810 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5811 {
  position:absolute;
  left:733px;
  top:59px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u5813 {
  position:absolute;
  left:760px;
  top:1246px;
  width:66px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u5814 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u5815 {
  position:absolute;
  left:754px;
  top:1265px;
  width:78px;
  height:1px;
}
#u5816 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5817 {
  position:absolute;
  left:630px;
  top:66px;
  width:77px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5818 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5819 {
  position:absolute;
  left:855px;
  top:66px;
  width:60px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5821 {
  position:absolute;
  left:843px;
  top:54px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5822 {
  position:absolute;
  left:623px;
  top:59px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5824 {
  position:absolute;
  left:141px;
  top:485px;
  width:425px;
  height:22px;
  font-size:18px;
}
#u5825 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u5826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5826 {
  position:absolute;
  left:141px;
  top:525px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u5827 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5828 {
  position:absolute;
  left:141px;
  top:566px;
  width:151px;
  height:22px;
  font-size:18px;
}
#u5829 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u5830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5830 {
  position:absolute;
  left:141px;
  top:606px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u5831 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5832 {
  position:absolute;
  left:141px;
  top:647px;
  width:517px;
  height:22px;
  font-size:18px;
}
#u5833 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  white-space:nowrap;
}
#u5834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5834 {
  position:absolute;
  left:141px;
  top:687px;
  width:239px;
  height:22px;
  font-size:18px;
}
#u5835 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u5836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5836 {
  position:absolute;
  left:141px;
  top:728px;
  width:965px;
  height:44px;
  font-size:18px;
}
#u5837 {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  white-space:nowrap;
}
#u5838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5838 {
  position:absolute;
  left:141px;
  top:790px;
  width:767px;
  height:22px;
  font-size:18px;
}
#u5839 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  white-space:nowrap;
}
#u5840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5840 {
  position:absolute;
  left:141px;
  top:871px;
  width:520px;
  height:22px;
  font-size:18px;
}
#u5841 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  white-space:nowrap;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5842 {
  position:absolute;
  left:141px;
  top:911px;
  width:592px;
  height:22px;
  font-size:18px;
}
#u5843 {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  white-space:nowrap;
}
#u5844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5844 {
  position:absolute;
  left:141px;
  top:952px;
  width:556px;
  height:22px;
  font-size:18px;
}
#u5845 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u5846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5846 {
  position:absolute;
  left:141px;
  top:992px;
  width:325px;
  height:22px;
  font-size:18px;
}
#u5847 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u5848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5848 {
  position:absolute;
  left:141px;
  top:830px;
  width:721px;
  height:22px;
  font-size:18px;
}
#u5849 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  white-space:nowrap;
}
#u5850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5850 {
  position:absolute;
  left:148px;
  top:321px;
  width:357px;
  height:23px;
  font-size:18px;
}
#u5851 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u5852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5853 {
  position:absolute;
  left:148px;
  top:354px;
  width:98px;
  height:23px;
  font-size:18px;
}
#u5854 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u5855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5855 {
  position:absolute;
  left:301px;
  top:354px;
  width:133px;
  height:23px;
  font-size:18px;
}
#u5856 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u5857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5857 {
  position:absolute;
  left:444px;
  top:354px;
  width:113px;
  height:23px;
  font-size:18px;
}
#u5858 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u5859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5860 {
  position:absolute;
  left:444px;
  top:387px;
  width:113px;
  height:23px;
  font-size:18px;
}
#u5861 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u5862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5862 {
  position:absolute;
  left:148px;
  top:387px;
  width:133px;
  height:23px;
  font-size:18px;
}
#u5863 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u5864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5864 {
  position:absolute;
  left:301px;
  top:387px;
  width:113px;
  height:23px;
  font-size:18px;
}
#u5865 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u5866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5866 {
  position:absolute;
  left:928px;
  top:387px;
  width:200px;
  height:23px;
  font-size:18px;
}
#u5867 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u5869 {
  position:absolute;
  left:971px;
  top:188px;
  width:81px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u5870 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5871 {
  position:absolute;
  left:1062px;
  top:182px;
  width:40px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5872 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5873 {
  position:absolute;
  left:175px;
  top:122px;
  width:68px;
  height:16px;
}
#u5874 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5875 {
  position:absolute;
  left:130px;
  top:123px;
  width:33px;
  height:20px;
}
#u5876 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u5877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5877 {
  position:absolute;
  left:156px;
  top:122px;
  width:20px;
  height:20px;
}
#u5878 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5879 {
  position:absolute;
  left:233px;
  top:122px;
  width:20px;
  height:20px;
}
#u5880 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5881 {
  position:absolute;
  left:253px;
  top:122px;
  width:68px;
  height:16px;
}
#u5882 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u5883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5884 {
  position:absolute;
  left:262px;
  top:191px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u5885 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5886 {
  position:absolute;
  left:262px;
  top:225px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u5887 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5888 {
  position:absolute;
  left:262px;
  top:260px;
  width:577px;
  height:19px;
  font-size:16px;
}
#u5889 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
