body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9606 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1161px;
  opacity:0.100000001490116;
  color:#000000;
}
#u9607 {
  position:absolute;
  left:2px;
  top:572px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u9609 {
  position:absolute;
  left:121px;
  top:29px;
  width:170px;
  height:80px;
}
#u9610 {
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9611 {
  position:absolute;
  left:158px;
  top:55px;
  width:97px;
  height:28px;
}
#u9612 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u9613 {
  position:absolute;
  left:313px;
  top:66px;
  width:60px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u9614 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9615 {
  position:absolute;
  left:395px;
  top:66px;
  width:91px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9616 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u9617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9617 {
  position:absolute;
  left:744px;
  top:66px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9618 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u9619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u9619 {
  position:absolute;
  left:510px;
  top:66px;
  width:82px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u9620 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9621 {
  position:absolute;
  left:371px;
  top:141px;
  width:903px;
  height:786px;
  overflow:hidden;
}
#u9621_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:786px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9621_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9622 {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:786px;
  overflow:hidden;
}
#u9622_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:786px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9622_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u9623 {
  position:absolute;
  left:42px;
  top:27px;
  width:97px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u9624 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:862px;
  height:2px;
}
#u9625 {
  position:absolute;
  left:42px;
  top:70px;
  width:861px;
  height:1px;
  opacity:0.4;
  color:#999999;
}
#u9626 {
  position:absolute;
  left:2px;
  top:-8px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9627 {
  position:absolute;
  left:42px;
  top:81px;
  width:861px;
  height:704px;
  overflow:hidden;
}
#u9627_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:704px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9627_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:901px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9628 {
  position:absolute;
  left:0px;
  top:35px;
  width:875px;
  height:901px;
}
#u9629 {
  position:absolute;
  left:2px;
  top:442px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9630 {
  position:absolute;
  left:8px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9631 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9632 {
  position:absolute;
  left:125px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9633 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9634 {
  position:absolute;
  left:249px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9635 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:124px;
}
#u9636 {
  position:absolute;
  left:110px;
  top:75px;
  width:133px;
  height:124px;
}
#u9637 {
  position:absolute;
  left:2px;
  top:54px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
}
#u9638 {
  position:absolute;
  left:63px;
  top:74px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#999999;
}
#u9639 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u9640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
}
#u9640 {
  position:absolute;
  left:63px;
  top:217px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#999999;
}
#u9641 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u9642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9642 {
  position:absolute;
  left:110px;
  top:219px;
  width:89px;
  height:17px;
  font-size:15px;
}
#u9643 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u9644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
}
#u9644 {
  position:absolute;
  left:63px;
  top:259px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#999999;
}
#u9645 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u9646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9646 {
  position:absolute;
  left:110px;
  top:254px;
  width:206px;
  height:33px;
  text-align:left;
}
#u9647 {
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  word-wrap:break-word;
}
#u9648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9648 {
  position:absolute;
  left:42px;
  top:349px;
  width:67px;
  height:17px;
  font-size:15px;
}
#u9649 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u9650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9650 {
  position:absolute;
  left:108px;
  top:351px;
  width:81px;
  height:17px;
  font-size:15px;
}
#u9651 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u9652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9652 {
  position:absolute;
  left:56px;
  top:388px;
  width:52px;
  height:17px;
  font-size:15px;
}
#u9653 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u9654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9655 {
  position:absolute;
  left:110px;
  top:390px;
  width:100px;
  height:18px;
}
#u9656 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9655_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9657 {
  position:absolute;
  left:153px;
  top:390px;
  width:100px;
  height:18px;
}
#u9658 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9657_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9659 {
  position:absolute;
  left:27px;
  top:436px;
  width:82px;
  height:17px;
  font-size:15px;
}
#u9660 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u9661 {
  position:absolute;
  left:111px;
  top:431px;
  width:117px;
  height:30px;
}
#u9661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u9661_input:disabled {
  color:grayText;
}
#u9662 {
  position:absolute;
  left:246px;
  top:431px;
  width:119px;
  height:30px;
}
#u9662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u9662_input:disabled {
  color:grayText;
}
#u9663 {
  position:absolute;
  left:377px;
  top:431px;
  width:119px;
  height:30px;
}
#u9663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u9663_input:disabled {
  color:grayText;
}
#u9664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
}
#u9664 {
  position:absolute;
  left:33px;
  top:489px;
  width:76px;
  height:17px;
  font-size:15px;
  color:#999999;
}
#u9665 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u9666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9666 {
  position:absolute;
  left:110px;
  top:489px;
  width:721px;
  height:144px;
}
#u9667 {
  position:absolute;
  left:2px;
  top:64px;
  width:717px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9668 {
  position:absolute;
  left:355px;
  top:662px;
  width:270px;
  height:40px;
  font-size:16px;
}
#u9669 {
  position:absolute;
  left:2px;
  top:9px;
  width:266px;
  word-wrap:break-word;
}
#u9670 {
  position:absolute;
  left:7px;
  top:3px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9671 {
  position:absolute;
  left:123px;
  top:2px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9672 {
  position:absolute;
  left:246px;
  top:1px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u9673 {
  position:absolute;
  left:58px;
  top:309px;
  width:52px;
  height:17px;
  font-size:15px;
}
#u9674 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u9675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9675 {
  position:absolute;
  left:110px;
  top:304px;
  width:206px;
  height:33px;
  text-align:left;
}
#u9676 {
  position:absolute;
  left:2px;
  top:9px;
  width:202px;
  word-wrap:break-word;
}
#u9627_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:704px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9627_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:198px;
}
#u9678 {
  position:absolute;
  left:20px;
  top:56px;
  width:190px;
  height:197px;
}
#u9679 {
  position:absolute;
  left:2px;
  top:90px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:98px;
}
#u9680 {
  position:absolute;
  left:230px;
  top:56px;
  width:103px;
  height:98px;
}
#u9681 {
  position:absolute;
  left:2px;
  top:41px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9682 {
  position:absolute;
  left:84px;
  top:142px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u9683 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9684 {
  position:absolute;
  left:19px;
  top:264px;
  width:288px;
  height:17px;
}
#u9685 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u9686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u9686 {
  position:absolute;
  left:55px;
  top:142px;
  width:27px;
  height:24px;
}
#u9687 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9688 {
  position:absolute;
  left:8px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9689 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9690 {
  position:absolute;
  left:125px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9691 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9692 {
  position:absolute;
  left:249px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9693 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9694 {
  position:absolute;
  left:5px;
  top:1px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9695 {
  position:absolute;
  left:121px;
  top:1px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9696 {
  position:absolute;
  left:246px;
  top:1px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9627_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:704px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9627_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9698 {
  position:absolute;
  left:34px;
  top:64px;
  width:57px;
  height:16px;
}
#u9699 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9700 {
  position:absolute;
  left:94px;
  top:59px;
  width:258px;
  height:29px;
}
#u9701 {
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9702 {
  position:absolute;
  left:33px;
  top:106px;
  width:57px;
  height:16px;
}
#u9703 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9704 {
  position:absolute;
  left:92px;
  top:101px;
  width:258px;
  height:29px;
}
#u9705 {
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9706 {
  position:absolute;
  left:20px;
  top:148px;
  width:71px;
  height:16px;
}
#u9707 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9708 {
  position:absolute;
  left:92px;
  top:143px;
  width:258px;
  height:29px;
}
#u9709 {
  position:absolute;
  left:2px;
  top:6px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9710 {
  position:absolute;
  left:92px;
  top:206px;
  width:241px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9711 {
  position:absolute;
  left:2px;
  top:4px;
  width:237px;
  word-wrap:break-word;
}
#u9712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9712 {
  position:absolute;
  left:8px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9713 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9714 {
  position:absolute;
  left:125px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9715 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u9716 {
  position:absolute;
  left:249px;
  top:8px;
  width:103px;
  height:31px;
  font-size:14px;
}
#u9717 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u9718 {
  position:absolute;
  left:7px;
  top:4px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9719 {
  position:absolute;
  left:123px;
  top:1px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9720 {
  position:absolute;
  left:246px;
  top:1px;
  width:106px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:234px;
  background:inherit;
  background-color:rgba(40, 40, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9722 {
  position:absolute;
  left:0px;
  top:927px;
  width:1440px;
  height:234px;
}
#u9723 {
  position:absolute;
  left:2px;
  top:109px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u9725 {
  position:absolute;
  left:133px;
  top:950px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u9726 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:2px;
}
#u9727 {
  position:absolute;
  left:133px;
  top:1068px;
  width:967px;
  height:1px;
  opacity:0.180000007152557;
}
#u9728 {
  position:absolute;
  left:2px;
  top:-8px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9730 {
  position:absolute;
  left:161px;
  top:993px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u9731 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9732 {
  position:absolute;
  left:283px;
  top:993px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u9733 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9734 {
  position:absolute;
  left:383px;
  top:993px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u9735 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9736 {
  position:absolute;
  left:487px;
  top:993px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u9737 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9738 {
  position:absolute;
  left:609px;
  top:993px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u9739 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9740 {
  position:absolute;
  left:708px;
  top:993px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9741 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9742 {
  position:absolute;
  left:812px;
  top:993px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u9743 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9744 {
  position:absolute;
  left:934px;
  top:993px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u9745 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9746 {
  position:absolute;
  left:1036px;
  top:993px;
  width:77px;
  height:18px;
  color:#CCCCCC;
}
#u9747 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u9748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9749 {
  position:absolute;
  left:162px;
  top:1036px;
  width:110px;
  height:18px;
  color:#CCCCCC;
}
#u9750 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u9751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9751 {
  position:absolute;
  left:286px;
  top:1036px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u9752 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9753 {
  position:absolute;
  left:390px;
  top:1036px;
  width:130px;
  height:18px;
  color:#CCCCCC;
}
#u9754 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u9755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9755 {
  position:absolute;
  left:549px;
  top:1036px;
  width:120px;
  height:18px;
  color:#CCCCCC;
}
#u9756 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u9757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9757 {
  position:absolute;
  left:701px;
  top:1036px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9758 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9759 {
  position:absolute;
  left:819px;
  top:1036px;
  width:139px;
  height:18px;
  color:#CCCCCC;
}
#u9760 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u9761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9761 {
  position:absolute;
  left:982px;
  top:1036px;
  width:92px;
  height:18px;
  color:#CCCCCC;
}
#u9762 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u9763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9764 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9765 {
  position:absolute;
  left:314px;
  top:1090px;
  width:58px;
  height:18px;
  color:#CCCCCC;
}
#u9766 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u9767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9767 {
  position:absolute;
  left:396px;
  top:1090px;
  width:59px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9768 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u9769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9769 {
  position:absolute;
  left:480px;
  top:1090px;
  width:58px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9770 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u9771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u9771 {
  position:absolute;
  left:382px;
  top:1090px;
  width:1px;
  height:18px;
}
#u9772 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u9773 {
  position:absolute;
  left:463px;
  top:1090px;
  width:1px;
  height:18px;
}
#u9774 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9775 {
  position:absolute;
  left:571px;
  top:1090px;
  width:175px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9776 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u9777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u9777 {
  position:absolute;
  left:548px;
  top:1089px;
  width:1px;
  height:18px;
}
#u9778 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9779 {
  position:absolute;
  left:754px;
  top:1090px;
  width:175px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u9780 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u9781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9781 {
  position:absolute;
  left:1139px;
  top:1114px;
  width:115px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9782 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u9783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u9783 {
  position:absolute;
  left:370px;
  top:1127px;
  width:525px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u9784 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  word-wrap:break-word;
}
#u9785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:128px;
}
#u9785 {
  position:absolute;
  left:1131px;
  top:971px;
  width:130px;
  height:128px;
}
#u9786 {
  position:absolute;
  left:2px;
  top:56px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:2px;
}
#u9787 {
  position:absolute;
  left:746px;
  top:1147px;
  width:72px;
  height:1px;
}
#u9788 {
  position:absolute;
  left:2px;
  top:-8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9789 {
  position:absolute;
  left:120px;
  top:139px;
  width:212px;
  height:271px;
}
#u9790 {
  position:absolute;
  left:2px;
  top:128px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:2px;
}
#u9791 {
  position:absolute;
  left:143px;
  top:201px;
  width:164px;
  height:1px;
  opacity:0.3;
}
#u9792 {
  position:absolute;
  left:2px;
  top:-8px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:2px;
}
#u9793 {
  position:absolute;
  left:142px;
  top:258px;
  width:165px;
  height:1px;
  opacity:0.3;
}
#u9794 {
  position:absolute;
  left:2px;
  top:-8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9795 {
  position:absolute;
  left:142px;
  top:219px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9796 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u9797 {
  position:absolute;
  left:293px;
  top:223px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9798 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:2px;
}
#u9800 {
  position:absolute;
  left:144px;
  top:316px;
  width:159px;
  height:1px;
  opacity:0.3;
}
#u9801 {
  position:absolute;
  left:2px;
  top:-8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9802 {
  position:absolute;
  left:144px;
  top:277px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9803 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u9804 {
  position:absolute;
  left:293px;
  top:280px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9805 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9806 {
  position:absolute;
  left:143px;
  top:167px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9807 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u9808 {
  position:absolute;
  left:293px;
  top:170px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9809 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9810 {
  position:absolute;
  left:133px;
  top:141px;
  width:170px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9811 {
  position:absolute;
  left:122px;
  top:19px;
  width:169px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9812 {
  position:absolute;
  left:395px;
  top:60px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9813 {
  position:absolute;
  left:313px;
  top:59px;
  width:60px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9814 {
  position:absolute;
  left:732px;
  top:1118px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9815 {
  position:absolute;
  left:299px;
  top:1078px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9816 {
  position:absolute;
  left:380px;
  top:1078px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9817 {
  position:absolute;
  left:466px;
  top:1079px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:34px;
}
#u9819 {
  position:absolute;
  left:1222px;
  top:48px;
  width:29px;
  height:34px;
}
#u9820 {
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u9821 {
  position:absolute;
  left:1244px;
  top:48px;
  width:13px;
  height:13px;
}
#u9822 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9823 {
  position:absolute;
  left:1205px;
  top:41px;
  width:58px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
}
#u9824 {
  position:absolute;
  left:1267px;
  top:48px;
  width:31px;
  height:34px;
}
#u9825 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9826 {
  position:absolute;
  left:1267px;
  top:38px;
  width:63px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9827 {
  position:absolute;
  left:500px;
  top:57px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9828 {
  position:absolute;
  left:732px;
  top:59px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9829 {
  position:absolute;
  left:630px;
  top:66px;
  width:77px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9830 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u9831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9831 {
  position:absolute;
  left:855px;
  top:66px;
  width:60px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u9832 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9833 {
  position:absolute;
  left:835px;
  top:59px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9834 {
  position:absolute;
  left:627px;
  top:54px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:2px;
}
#u9836 {
  position:absolute;
  left:144px;
  top:373px;
  width:159px;
  height:1px;
  opacity:0.3;
}
#u9837 {
  position:absolute;
  left:2px;
  top:-8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9838 {
  position:absolute;
  left:144px;
  top:334px;
  width:73px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9839 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u9840 {
  position:absolute;
  left:293px;
  top:337px;
  width:10px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9841 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
