body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:3086px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u683 {
  position:absolute;
  left:0px;
  top:-5px;
  width:1440px;
  height:3086px;
  opacity:0.100000001490116;
  color:#000000;
}
#u684 {
  position:absolute;
  left:2px;
  top:1535px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u685 {
  position:absolute;
  left:73px;
  top:45px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:253px;
  top:54px;
  width:159px;
  height:20px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
