body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1336px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1095px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u123 {
  position:absolute;
  left:-52px;
  top:-98px;
  width:1440px;
  height:1095px;
  opacity:0.100000001490116;
  color:#000000;
}
#u124 {
  position:absolute;
  left:2px;
  top:540px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:630px;
  top:2110px;
  width:250px;
  height:70px;
}
#u126 {
  position:absolute;
  left:2px;
  top:27px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:537px;
  top:280px;
  width:133px;
  height:100px;
}
#u128 {
  position:absolute;
  left:2px;
  top:42px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2159px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2159px;
}
#u130 {
  position:absolute;
  left:2px;
  top:1072px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
